@import "variable.scss";

@function get-vw($target) {
    $vw-context: (1920 * 0.01) * 1px;
    $res: ($target / $vw-context) * 1vw;
    @return $res;
}
body{
    font-family: $primary-font;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

p,h1,h2,h3,h4,h5,h6{
    margin-block-start: 0;
    margin-block-end: 0;
}

*::selection {
    color: white;
    background: transparent;
}

span::selection {
    color: $primary-color;
}

.btn{
    width: fit-content;
    a{
        color: $color-1;
        text-decoration: none;
        font-weight: 500;
    }
    &.underline{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border: 1px solid $color-1;
        }
    }
}
.slick-slider{
    .slick-arrow{
        &.slick-next{
           right: 0; 
           z-index: 999;    
        }
        &.slick-prev{
            left: 0;
            z-index: 999;
        }
    }
}
.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}
.fw-8{
    font-weight: 800;
}
.fw-9{
    font-weight: 900;
}


.d-hide-m {
    display: none;
}
.d-hide-t {
    display: block;
}

.inner-wrapper{
    padding: 0 25px;
}
.main-wrapper{
    padding: 0 35px;
}
.h-140{
    font-family: $primary-font;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 75% */
    letter-spacing: -2.4px;
    background: linear-gradient(90deg, #FFF 10.52%, #4061AD 94.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h-80{
    font-family: $primary-font;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.839px; /* 76.129% */
    letter-spacing: -2.4px;
}
.btn-text{
    font-family: $primary-font;
    font-size: 18.104px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.362px; 
}
.h-30{
    font-family: $primary-font;
    font-size: 17.059px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.341px;
}
.h-100{
    font-family: $primary-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 300% */
    letter-spacing: -2px;
}
.h-120{
    font-family: $primary-font;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 75% */
    letter-spacing: -3px;
}
.h-160{
    font-family: $primary-font;
    font-size: 102px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -7.35px;
}
.p-20,.p-20 p{
    font-family: $secondary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
}

.p-25{
    font-family: $primary-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 157.143% */
}

.h-80-s{
    font-family: $primary-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 87.5% */
    letter-spacing: -2px;  
}
.p-18{
    font-family: $secondary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}
.p-18-l{
    font-family:$secondary-font;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 18.6px */
    letter-spacing: -0.75px;
}
.h-40{
    font-family: $primary-font;
    font-size: 20px; 
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 18.6px */
    letter-spacing: -0.75px;
}
.h-70{
    font-family: $primary-font;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}
.h-50{
    font-family: $primary-font;
    font-size: 40px;
    font-style: normal;
    line-height: 35px; /* 87.5% */
    letter-spacing: -2px;
}
.p-16{
    font-family: $secondary-font;
    font-size: 12px;
    font-style: normal;
    line-height: 120%; /* 1000% */
    letter-spacing: -0.12px;
    text-transform: capitalize;
}
.h-200{
    font-family: $primary-font;
    font-size: 102px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -7.35px;
}
.common-btn-blue{
    text-decoration: none;
    .btn-wrap{
        border-radius: 4.224px;
        display: flex;
        background: $primary-color;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px 30px;
        width: 200px;
        border: none;
        transition: all 0.3s ease;
        overflow: hidden;
        .ar-icon{
            display: flex;
            flex-direction: row;
            svg{
                width: 13px;
                height: 12.316px;
                object-fit: contain;
            }
        }
        p.btn-text{
            color: $white;
            margin-left: 5px;
        }
        &::after{
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            z-index: -1;
            width: 200px;
            height: 100%;
            transition: all 0.7s ease;
            -webkit-transform: scale(.1);
            transform: scale(.1);
        }
        &:hover{
            color: #fff;
            border: none;
            background: transparent;
            &::after{
                background: $primary-color;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
   
}
.common-btn-green{
    text-decoration: none;
    .btn-wrap{
        border-radius: 4.224px;
        display: flex;
        background: $green;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        width: 200px;
        border: none;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative;
        .ar-icon{
            display: flex;
            flex-direction: row;
            svg{
                width: 13px;
                height: 12.316px;
                object-fit: contain;
            }
        }
        p.btn-text{
            color: $white;
            margin-left: 5px;
        }
        &::after{
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            z-index: -1;
            width: 200px;
            height: 100%;
            transition: all 0.7s ease;
            -webkit-transform: scale(.1);
            transform: scale(.1);
        }
        &:hover{
            color: #fff;
            border: none;
            background: transparent;
            &::after{
                background: $green;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
.common-btn-trans{
    text-decoration: none;
    .btn-wrap{
        border-radius: 4.224px;
        display: flex;
        background: transparent;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        width: 200px;
        border: 1px solid $white;
        transition: all 0.7s ease;
        overflow: hidden;
        position: relative;
        .ar-icon{
            display: flex;
            flex-direction: row;
            position: relative;
            z-index: 3;
            svg{
                width: 13px;
                height: 12.316px;
                object-fit: contain;
            }
        }
        p.btn-text{
            color: $white;
            margin-left: 5px;
            position: relative;
            z-index: 3;
        }
        &::after{
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            z-index: -1;
            width: 200px;
            height: 100%;
            transition: all 0.7s ease;
            -webkit-transform: scale(.1);
            transform: scale(.1);
        }
        &:hover{
            color: #fff;
            border: none;
            background: transparent;
            &::after{
                background: $primary-color;
                -webkit-transform: scale(1);
                transform: scale(1);
                z-index: 2;
            }
        }
    }
}
.tagline-white{
    border-radius: 70px;
    border: 1px solid $white;
    padding: 4px 10px 4px 24.5px;
    width: fit-content;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    color: $white;
    &::before{
        position: absolute;
        height: 4.549px;
        width: 4.549px;
        content: "";
        left: 12.5px;
        background: url("../images/white-dot-tc.png");
        background-repeat: repeat;
        background-size: contain;
        z-index: 3;
        bottom:11px;
    }
}
.tagline-black{
    border-radius: 70px;
    border: 1px solid $black-text;
    padding: 4px 10px;
    width: 63%;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    color: $black-text;
    &::before{
        position: absolute;
        height: 4.549px;
        width: 4.549px;
        content: "";
        left: 11px;
        background: url("../images/black-dot-tc.png");
        background-repeat: repeat;
        background-size: contain;
        z-index: 3;
        bottom:11px;
    }
}
.full-wrapper{
    width: 100%;
}
svg.arr-left{
    border-radius: 5px;
    border: 1px solid $white;
    background: rgba(255, 255, 255, 0.10);
    width: 40px;
    padding: 6px;
    height: 38.698px;
    &:hover{
        cursor: pointer;
        background: rgba(255, 255, 255, 0.30);
    }
}
svg.arr-right{
    border-radius: 5px;
    border: 1px solid $white;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    padding: 6px;
    height: 38.698px;
    &:hover{
        cursor: pointer;
        background: rgba(255, 255, 255, 0.30);
    }
}
@media only screen and (min-width: 768px){
    .inner-wrapper{
        padding: 0 40px;
    }
    .main-wrapper{
        padding: 0 60px;
    }
    .tagline-white{
        width: fit-content;
    }
    .tagline-black{
        width: 30%;
    }
}
@media only screen and (min-width: 1200px){
    .inner-wrapper{
        padding: 0 get-vw(140px);
    }
    .main-wrapper{
        padding: 0 get-vw(140px);
    }
    .d-hide-m{
        display: block;
    }
    .d-hide-t{
        display: none;
    }
    .h-160{
        font-size: get-vw(160px);
        line-height:get-vw( 124px); /* 65.625% */
        letter-spacing:get-vw( -9.6px);
    }
    .h-140{
        font-size:get-vw( 140px);
        font-weight: 700;
        line-height: get-vw(110px); /* 78.571% */
        letter-spacing: get-vw(-4.2px);
    }
    .h-80{
        font-size: get-vw(80px);
        font-weight: 400;
        line-height: get-vw(130px); /* 162.5% */
        letter-spacing: get-vw(-4px);
    }
    .btn-text{
        font-size:get-vw( 18.211px);
        letter-spacing:get-vw( -0.364px);
    }
    .h-30{
        font-size: get-vw(30px);
        letter-spacing: get-vw(-0.6px);
    }
    .h-40{
        font-size: get-vw(40px);
        line-height:get-vw( 46px); /* 115% */
    }
    .p-25{
        font-size: get-vw(25px);
        line-height: 160%;
    }
    .h-100{
        font-size: get-vw(100px);
        line-height: get-vw(120px); /* 120% */
        letter-spacing:get-vw( -5px);
    }
    .h-120{
        font-size: get-vw(120px);
        font-weight: 700;
        line-height: get-vw(94.24px);
        letter-spacing: get-vw(-6px);
    }
    .p-20,.p-20 p{
        font-size: get-vw(20px);
        line-height:get-vw( 30px); /* 150% */
    }
    .h-80-s{
        font-size: get-vw(80px);
        font-weight: 700;
        line-height: get-vw(60px);
        letter-spacing: get-vw(-4px);
    }
    .p-18{
        font-size: get-vw(18px);
        line-height: get-vw(30px);
    }
    .p-18-l{
        font-size: get-vw(18px);
        letter-spacing:get-vw( -0.9px);
    }
    .h-70{
        font-size:get-vw( 70px);
        letter-spacing: get-vw(-4.2px);
    }
    .h-50{
        font-size:get-vw( 50px);
        line-height:get-vw( 40px);
        letter-spacing: get-vw(-2.5px);
    }
    .p-16{
        font-size:get-vw( 16px);
        letter-spacing:get-vw( -0.16px);
    }
    .h-200{
        font-size: get-vw(200px);
        line-height:get-vw( 156px);
        letter-spacing:get-vw( -14px);
    }
    .tagline-white{
        border-radius: get-vw(70px);
        border: get-vw(1px) solid $white;
        padding: get-vw(8px) get-vw(31px) get-vw(7px) get-vw(43px);
        width: fit-content;
        margin-bottom: get-vw(20px);
        &::before{
            height: get-vw(8px);
            width: get-vw(8px);
            left: get-vw(21.5px);
            bottom: get-vw(19.84px);
        }
    }
    .tagline-black{
        border-radius: get-vw(70px);
        border: get-vw(1px) solid $black-text;
        padding: get-vw(8px) get-vw(31px) get-vw(7px) get-vw(43px);
        width: fit-content;
        margin-bottom: get-vw(20px);
        &::before{
            height: get-vw(8px);
            width: get-vw(8px);
            left: get-vw(21.5px);
            bottom: get-vw(19.84px);
        }
    }
    .common-btn-blue{
        .btn-wrap{
            border-radius: get-vw(5.099px);
            padding: get-vw(16px) get-vw(49px) get-vw(16px) get-vw(29.8px);
            width: get-vw(228px);
            .ar-icon{
                svg{
                    width: get-vw(13px);
                    height: get-vw(12.316px);
                }
            }
            p.btn-text{
                margin-left: get-vw(10px);
            }
            &::after{
                width: get-vw(228px);
            }
        }
    }
    .common-btn-green{
        .btn-wrap{
            border-radius: get-vw(5.099px);
            padding: get-vw(16px) get-vw(49px) get-vw(16px) get-vw(29.8px);
            width: get-vw(228px);
            .ar-icon{
                svg{
                    width: get-vw(13px);
                    height: get-vw(12.316px);
                }
            }
            p.btn-text{
                margin-left: get-vw(10px);
            }
            &::after{
                width: get-vw(228px);
            }
        }
    }
    .common-btn-trans{
        .btn-wrap{
            border-radius: get-vw(5.099px);
            padding: get-vw(16px) get-vw(49px) get-vw(16px) get-vw(29.8px);
            width: get-vw(228px);
            border: get-vw(1px) solid $white;
            .ar-icon{
                svg{
                    width: get-vw(13px);
                    height: get-vw(12.316px);
                }
            }
            p.btn-text{
                margin-left: get-vw(10px);
            }
            &::after{
                width: get-vw(228px);
            }
        }
    }
   
    svg.arr-left{
        border-radius: get-vw(7px);
        border: get-vw(1px) solid $white;
        width: get-vw(71px);
        padding: get-vw(15px);
        height: get-vw(67.698px);
    }
    svg.arr-right{
        border-radius: get-vw(7px);
        border: get-vw(1px) solid $white;
        width: get-vw(71px);
        padding: get-vw(15px);
        height: get-vw(67.698px);
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.fade-up-active {
    opacity: 1;
    transform: translateY(0);
} 

html{
    scroll-behavior: smooth;
}


@media only screen and (min-width: 768px){
    ::-webkit-scrollbar {
        width: 4px;
        background: transparent;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        /* background: #2E2E2E; */
    }
    ::-webkit-scrollbar-thumb {
        background: $secondary-color;
        // border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background:  $primary-color;
    }
}
