// footer{
//     padding: 20px 20px;
//     background-color: #ddd;
//     .footer-inner{
//         .footer-socail-media{
//             .footer-social-media-list{
//                 list-style: none;
//                 display: flex;
//                 flex-wrap: wrap;
//                 padding-left: 0;
//                 li{
//                     margin-right: 20px;
//                     .footer-social-media-link{
//                         svg{
//                             width: 20px;
//                             height: 20px;
//                         }
//                     }
//                 }

//             }
//         }
//         .footer-menu{
//             .menu{
//                 list-style: none;
//                 padding-left: 0;
//             }
//         }
//     }
// }

// .bottom-footer{
//     padding: 5px 20px;
//     text-align: center;
// }

// @media only screen and (min-width: 992px){
//     footer{
     
//         .footer-inner{
//             display: flex;
//             flex-wrap: wrap;
//             .footer-main{
//                 width: 33.33%;
//             }
//             .footer-menu{
//                 width: 33.33%;
//             }
//             .footer-socail-media{
//                 .footer-social-media-list{
                    
//                 }      
//             }
//         }
//     }
    
// }


// @media only screen and (min-width: 1200px){
//     footer{
//         padding: get-vw(60px) get-vw(240px);
//         .footer-inner{

//             .footer-socail-media{
//                 .footer-social-media-list{
//                     li{
//                         margin-right: get-vw(20px);
//                         .footer-social-media-link{
//                             svg{
//                                 width: get-vw(20px);
//                                 height: get-vw(20px);
//                             }
//                         }
//                     }
//                 }
//             }

//             .footer-main{
//                 .footer-des{
//                     font-size: get-vw(16px);
//                 }
//             }
//             .footer-menu{
                
//             }


//         }
//     }

//     .bottom-footer{
//         padding: get-vw(15px) get-vw(240px);
//         text-align: center;
//     }
    
    
// }

footer{
    .footer-inner{
        .footer-main{
            padding: 70px 25px 41px;
            // background: linear-gradient(180deg, #0A0C10 -13.09%, #0A0C10 40.01%, rgba(10, 12, 16, 0.65) 78.84%, rgba(10, 12, 16, 0.00) 99.89%);
            position: relative;
            background:$black;
            .image-wrap{
                width: 100%;
                display: flex;
                position: relative;
                z-index: 2;
                justify-content: center;
                img{
                    width: 235px;
                    height: auto;
                    object-fit: contain;
                }
            }
            .footer-menu{
                margin-top: 37px;
                position: relative;
                z-index: 2;
                 .menu-footer-menu-container{
                    ul#footer{
                        margin: 0;
                        display: block;
                        column-count: 2;
                        li{
                            position: relative;
                            margin-bottom: 12px;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background: rgba(255, 255, 255, 0.40);
                            }
                            &::marker{
                                color: $white;
                                font-size: 15px;
                            }
                            a{
                                color: $white;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 38.053px;
                                letter-spacing: -0.75px;
                                text-decoration: none;
                            }
                            .sub-menu-toggle{
                                display: none;
                            }
                            ul.sub-menu{
                                display: none;
                            }
                        }
                    }
                 }
                 .menu-footer-secondary-menu-container{
                    ul#footer_sub{
                        margin: 0;
                        display: block;
                        column-count: 2;
                        li{
                            position: relative;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background: rgba(255, 255, 255, 0.40);
                            }
                            &::marker{
                                color: $white;
                                font-size: 15px;
                            }
                            a{
                                color: $white;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 38.053px;
                                letter-spacing: -0.75px;
                                text-decoration: none;
                            }
                            .sub-menu-toggle{
                                display: none;
                            }
                            ul.sub-menu{
                                display: none;
                            }
                        }
                    }
                 }
            }
            video#footerVideo{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 335px;
                object-fit: cover;
            }
        }
        .footer-details{
            background: $blue-bg;
            padding-bottom: 50px;
            .top-section{
                padding: 88px 76px 53px 30px;
                position: relative;
                .main{
                    font-size: 80px;
                    line-height: 60px;
                    letter-spacing: -4.8px;
                    color: $white;
                    span{
                        font-weight: 700;
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 239px;
                    height: 239px;
                    object-fit: contain;
                }
            }
            .bottom-section{
                .left-div{
                    padding: 0 40px;
                    margin-bottom: 42px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .detail-item{
                        .detail-inner{
                            .d-main{
                                color: $white;
                            }
                            .d-sub{
                                a{
                                    text-decoration: none;
                                    color: $white;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .right-div{
                    padding: 0 40px;
                    margin-bottom: 42px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .detail-item{
                        .detail-inner{
                            .d-main{
                                color: $white;
                            }
                            .d-sub{
                                color: $white;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .footer-socail-media{
                margin: 0 40px;
                ul.footer-social-media-list{
                    margin: 0;
                    border-radius: 8px;
                    background: $white-bg;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 16px 40px;
                    li{
                       
                        width: 50%;
                        list-style: none;
                        a{
                            text-decoration: none;
                            .social{
                                color: $b-text;
                                font-family: $secondary-font;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 1.4px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .footer-inner{
            .footer-main{
                .footer-menu{
                    .menu-footer-menu-container{
                        ul#footer{
                            column-count: 3;
                            li{
                                &::after{
                                    width: 90%;
                                }
                            }
                        }
                    }
                    .menu-footer-secondary-menu-container{
                        ul#footer_sub{
                            column-count: 3;
                            li{
                                &::after{
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
                video#footerVideo{
                    height: 300px;
                }
            }
            .footer-details{
                .bottom-section{
                    display: flex;
                    flex-direction: row;
                    .left-div{
                        padding: 0 0 0 40px;
                        justify-content: left;
                        gap: 33%;
                        width: 63%;
                    }
                    .right-div{
                        padding: 0 40px 0 0;
                        justify-content: end;
                        width: 32.3%;
                    }
                }
                .footer-socail-media{
                    ul.footer-social-media-list{
                        li{
                            width: 25%;
                            a{
                                .social{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.bottom-footer{
    background: linear-gradient(87deg, #F69517 -1.82%, #4061AD 95.65%);
    .bottom-footer-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 32px 11px;
        p{
            color: $white;
            a{
                text-decoration: none;
                span{
                    font-weight: 800;
                    color: $white;
                }
            }
            span{
                font-weight: 800;
            }
        }
        }
    }
