footer{
    .footer-inner{
        .footer-main{
            padding: 70px 25px 41px;
            // background: linear-gradient(180deg, #0A0C10 -13.09%, #0A0C10 40.01%, rgba(10, 12, 16, 0.65) 78.84%, rgba(10, 12, 16, 0.00) 99.89%);
            position: relative;
            background:$black;
            .image-wrap{
                width: 100%;
                display: flex;
                position: relative;
                z-index: 2;
                justify-content: center;
                img{
                    width: 235px;
                    height: auto;
                    object-fit: contain;
                }
            }
            .footer-menu{
                margin-top: 37px;
                position: relative;
                z-index: 2;
                 .menu-footer-menu-container{
                    ul#footer{
                        margin: 0;
                        display: block;
                        column-count: 2;
                        li{
                            position: relative;
                            margin-bottom: 12px;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background: rgba(255, 255, 255, 0.40);
                            }
                            &::marker{
                                color: $white;
                                font-size: 15px;
                            }
                            a{
                                color: $white;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 38.053px;
                                letter-spacing: -0.75px;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                            .sub-menu-toggle{
                                display: none;
                            }
                            ul.sub-menu{
                                display: none;
                            }
                            &:hover{
                                a {
                                    color: $secondary-color;
                                }
                                &::marker{
                                    color: $secondary-color;
                                }
                                &::after{
                                    background: $secondary-color;
                                }
                            }
                            &.current_page_item {
                                a {
                                    color: $secondary-color;
                                }
                                &::marker{
                                    color: $secondary-color;
                                }
                                &::after{
                                    background: $secondary-color;
                                }
                            }
                        }
                    }
                 }
                 .menu-footer-secondary-menu-container{
                    ul#footer_sub{
                        margin: 0;
                        display: block;
                        column-count: 1;
                        li{
                            position: relative;
                            margin-bottom: 12px;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 50%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background: rgba(255, 255, 255, 0.40);
                            }
                            &::marker{
                                color: $white;
                                font-size: 15px;
                            }
                            a{
                                color: $white;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 38.053px;
                                letter-spacing: -0.75px;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                            .sub-menu-toggle{
                                display: none;
                            }
                            ul.sub-menu{
                                display: none;
                            }
                            &.menu-item-has-children{
                                &:hover{
                                    a {
                                        color: $secondary-color;
                                    }
                                    ul.sub-menu{
                                        li{
                                            margin-bottom: 10px;
                                            a{
                                                color: $white;
                                                text-transform: capitalize;
                                            }
                                        }
                                    }
                                    &::marker{
                                        color: $secondary-color;
                                    }
                                    &::after{
                                        background: $secondary-color;
                                    }
                                }
                                &.current_page_item {
                                    // a {
                                    //     color: $secondary-color;
                                    // }
                                    &::marker{
                                        color: $secondary-color;
                                    }
                                    &::after{
                                        background: $secondary-color;
                                    }
                                }
                            }
                           
                            &.current_page_item {
                                a {
                                    color: $secondary-color;
                                }
                                &::marker{
                                    color: $secondary-color;
                                }
                                &::after{
                                    background: $secondary-color;
                                }
                            }
                        }
                    }
                 }
            }
            video#footerVideo{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 335px;
                object-fit: cover;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, #0A0C10 -13.09%, #0A0C10 40.01%, rgba(10, 12, 16, 0.65) 78.84%, rgba(10, 12, 16, 0.00) 99.89%);
                    content: "";
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .footer-details{
            background: $blue-bg;
            padding-bottom: 50px;
            .top-section{
                padding: 88px 63px 53px 30px;
                position: relative;
                .main{
                    font-size: 80px;
                    line-height: 60px;
                    letter-spacing: -4.8px;
                    color: $white;
                    background:$white;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 400;
                    padding-top: 2px;
                    span{
                        font-weight: 700;
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 239px;
                    height: 239px;
                    object-fit: contain;
                }
            }
            .bottom-section{
                .left-div{
                    padding: 0 40px;
                    margin-bottom: 42px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .detail-item{
                        .detail-inner{
                            .d-main{
                                color: $white;
                                font-weight: 700;
                            }
                            .d-sub{
                                a{
                                    text-decoration: none;
                                    color: $white;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .right-div{
                    padding: 0 40px;
                    margin-bottom: 42px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .detail-item{
                        .detail-inner{
                            .d-main{
                                color: $white;
                                font-weight: 700;
                            }
                            .d-sub{
                                color: $white;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .footer-socail-media{
                margin: 0 40px;
                ul.footer-social-media-list{
                    margin: 0;
                    border-radius: 8px;
                    background: $white-bg;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 16px 40px;
                    justify-content: center;
                    li{
                       position: relative;
                       &:nth-child(1){
                        &::after{
                            content: unset;
                        }
                       }
                       &:nth-child(3){
                        &::after{
                            content: unset;
                        }
                       }
                       &::after{
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-radius: 8px;
                        left: -.8rem;
                        top: .4rem;
                        background: black;
                       }
                        width: 50%;
                        list-style: none;
                        a{
                            text-decoration: none;
                            &:hover{
                                .social{
                                    background: linear-gradient(90deg, $secondary-color 10.52%, $primary-color 94.21%);
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            .social{
                                color: $b-text;
                                font-family: $secondary-font;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 1.4px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .footer-inner{
            .footer-main{
                .footer-menu{
                    .menu-footer-menu-container{
                        ul#footer{
                            column-count: 3;
                            li{
                                &::after{
                                    width: 90%;
                                }
                            }
                        }
                    }
                    .menu-footer-secondary-menu-container{
                        ul#footer_sub{
                            column-count: 3;
                            li{
                                &::after{
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
                video#footerVideo{
                    height: 300px;
                }
            }
            .footer-details{
                .bottom-section{
                    display: flex;
                    flex-direction: row;
                    .left-div{
                        padding: 0 0 0 40px;
                        justify-content: left;
                        gap: 33%;
                        width: 63%;
                    }
                    .right-div{
                        padding: 0 40px 0 0;
                        justify-content: end;
                        width: 32.3%;
                    }
                }
                .footer-socail-media{
                    ul.footer-social-media-list{
                        li{
                            width: 25%;
                            a{
                                .social{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .footer-inner{
            display: flex;
            flex-direction: row-reverse;
            position: relative;  
            &::after{
                content: "";
                position: absolute;
                width: get-vw(80px);
                height: 100%;
                bottom: 0;
                right: 0;
                z-index: 2;
                background: linear-gradient(0deg, #1C2B38 10.31%, rgba(0, 0, 0, 0.56) 61.31%, rgba(42, 79, 163, 0.50) 99.93%);
            }
            &::before{
                content: "";
                position: absolute;
                width: get-vw(80px);
                height: 100%;
                bottom: 0;
                z-index: 1;
                right: 0;
                background: #20408A;
            }
            .footer-main{
                width: get-vw(1206px);
                padding: get-vw(97px) get-vw(80.8px) get-vw(70px);
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    z-index: 1;
                    right: 0;
                    background: linear-gradient(0deg, #1C2B38 10.31%, rgba(0, 0, 0, 0.56) 61.31%, rgba(42, 79, 163, 0.50) 99.93%);
                }
                .image-wrap{
                    justify-content: flex-start;
                    img{
                        width: get-vw(380px);
                    }
                }
                .footer-menu{
                    margin-top: get-vw(44px);
                     .menu-footer-menu-container{
                        ul#footer{
                            li{
                                margin-bottom: get-vw(10px);
                                &::after{
                                    width: get-vw(219px);
                                    height: get-vw(1px);
                                    top: get-vw(35px);
                                }
                                &::marker{
                                    font-size: get-vw(30px);
                                    margin-top: get-vw(5px);
                                }
                                a{
                                    font-size: get-vw(20px);
                                    line-height: get-vw(50px);
                                    letter-spacing: get-vw(-1px);
                                }
                                .sub-menu-toggle{
                                    display: none;
                                }
                                ul.sub-menu{
                                    display: none;
                                }
                            }
                        }
                     }
                     .menu-footer-secondary-menu-container{
                        ul#footer_sub{
                            column-count: 2;
                            display: flex;
                            flex-direction: row;
                            // gap: get-vw(99px);
                            justify-content: space-between;
                            margin-top: get-vw(15px);
                            li{
                                margin-bottom: get-vw(10px);
                                &:nth-child(2){
                                    ul.sub-menu{
                                        column-count: 2;
                                    }
                                }
                                &::after{
                                    width: 95%;
                                    height: get-vw(1px);
                                    top: get-vw(35px);
                                   
                                }
                                &::marker{
                                    font-size: get-vw(30px);
                                    margin-top: get-vw(5px);
                                }
                                a{
                                    font-size: get-vw(20px);
                                    line-height: get-vw(50px);
                                    letter-spacing: get-vw(-1px);
                                    text-transform: uppercase;
                                }
                                .sub-menu-toggle{
                                    display: none;
                                }
                                &.menu-item-has-children{
                                    &.current_page_item {
                                        // a {
                                        //     color: $secondary-color;
                                        // }
                                        &::marker{
                                            color: $secondary-color;
                                        }
                                        &::after{
                                            background: $secondary-color;
                                        }
                                    }
                                   ul.sub-menu{
                                        li{
                                            color: $white;
                                            margin-bottom: get-vw(10px);
                                            &:hover{
                                                a {
                                                    color: $secondary-color;
                                                }
                                                &::after{
                                                    background: $secondary-color;
                                                }
                                            }
                                            &.current_page_item {
                                                a {
                                                    color: $secondary-color;
                                                }
                                                &::marker{
                                                    color: $secondary-color;
                                                }
                                                &::after{
                                                    background: $secondary-color;
                                                }
                                            }
                                        }
                                   }         
                                }
                                ul.sub-menu{
                                    display: block;
                                    padding: 0;
                                    margin-top:get-vw( 44px);
                                    margin-left: get-vw(-20px);
                                    li{
                                        margin-bottom: get-vw(25px);
                                        list-style: none;
                                        position: relative;
                                        &.current-menu-item{
                                            a {
                                                color: $secondary-color;
                                            }
                                            &::marker{
                                                color: $secondary-color;
                                            }
                                            &::after{
                                                background: $secondary-color;
                                            }
                                        }
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: get-vw(1px);
                                            bottom: 0;
                                            top: unset;
                                            left: 0;
                                            background: transparent;
                                        }
                                        a{
                                            color: $white;
                                            font-family: $secondary-font;
                                            font-size: get-vw(16px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 91%; /* 14.56px */
                                            letter-spacing: get-vw(-0.8px);
                                            text-transform: capitalize;
                                        }
                                        &.current_page_item {
                                            a {
                                                color: $secondary-color;
                                            }
                                            &::marker{
                                                color: $secondary-color;
                                            }
                                            &::after{
                                                background: $secondary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                     }
                }
                video#footerVideo{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: get-vw(848px);
                    object-fit: cover;
                }
            }
            .footer-details{
                width:get-vw( 714px);
                padding-bottom: get-vw(58px);
                .top-section{
                    padding: get-vw(190px) get-vw(135.88px) get-vw(60px) get-vw(90px);
                     .main{
                        font-size: get-vw(140px);
                        line-height: get-vw(105px);
                        letter-spacing: get-vw(-8.4px);
                        padding-top:get-vw(2px);
                     }
                     img{
                        width: get-vw(379px);
                        height: get-vw(379px);
                        top: get-vw(34px);
                        right: get-vw(46px);

                    }
                }
                .bottom-section{
                    .left-div{
                        padding: 0 0 0 get-vw(90px);
                        flex-direction: column;
                        gap: get-vw(30px);
                        width:get-vw( 358px);
                        margin-bottom: get-vw(100px);
                    }
                    .right-div{
                        padding: 0 get-vw(155px) 0 0;
                        width: unset;
                        margin-bottom: get-vw(100px);
                    }
                }
                .footer-socail-media{
                    margin: 0 get-vw(90px) 0 get-vw(82px);
                    ul.footer-social-media-list{
                        border-radius: get-vw(8px);
                        padding: get-vw(30px) get-vw(39px) get-vw(30px) get-vw(41px);
                        li{
                            &:nth-child(3){
                                &::after{
                                    content: "";
                                }
                               }
                               &::after{
                                    width: get-vw(4px);
                                    height: get-vw(4px);
                                    border-radius: get-vw(8px);
                                    left: get-vw(-5px);
                                    top: get-vw(7px);
                               }
                            a{
                                .social{
                                    font-size: get-vw(14px);
                                    letter-spacing:get-vw( 1.4px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.bottom-footer{
    background: linear-gradient(87deg, #F69517 -1.82%, #4061AD 95.65%);
    .bottom-footer-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 32px 11px;
        p{
            color: $white;
            a{
                text-decoration: none;
                span{
                    font-weight: 800;
                    color: $white;
                }
            }
            span{
                font-weight: 800;
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .bottom-footer-inner{
            flex-direction: row;
            justify-content: space-between;
            padding: get-vw(18px) get-vw(80px);
        }
    }
}
a.scrollup {
    --size: 50px;
    --margin: 16px;
    max-width: 0;
    max-height: 0;
    overflow: visible;
    transition: opacity .5s,visibility .5s;
    position: relative;
    position: --webkit-relative;
    bottom: var(--margin);
    left: calc(100% - var(--margin));
    z-index: 10;
  }
  a.scrollup .scrollup-btn {
    display: inline-block;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 4px;
    width: var(--size);
    height: var(--size);
    color: $white;
    fill: $white;
    background-color: $primary-color;
    text-decoration: none;
    font-weight: 900;
    font-family: $primary-font;
    box-shadow: 2px 2px 5px #0007;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /* show text 'UP' if there is no any element inside .scrollup */
  a.scrollup:not(:has(*))::before {
    content: 'UP';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  /* Enable smooth scroll */
  html:has(a.scrollup) {
    scroll-behavior: smooth;
  }
  /* Hide button on top */
  html[data-scroll='0'] a.scrollup,
  body.hide-scrollup a.scrollup,
  a.scrollup.hide {
    opacity: 0;
    visibility: hidden;
  }
