@import "common.scss";
@import "variable.scss";

.home-hero-section{
    .full-wrapper{
        margin-top: -118px;
        .slider-wrapper{
            .hero-slider{
                .hero-item{
                    .hero-inner{
                        position: relative;
                        height: 815px;
                        &::before{
                            position: absolute;
                            height: 461px;
                            width: 100%;
                            content: "";
                            left: 0;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.76) 28.17%, #000 271.37%);
                            z-index: 3;
                            bottom: 0;
                        }
                        video#heroVideo{
                            height: 815px;
                            width: 100%;
                            object-fit: cover;
                        }
                        .main-wrapper{
                            position: absolute;
                            z-index: 3;
                            bottom: 40px;
                            .detail-item{
                                .main{
                                    margin-bottom: 8px;
                                }
                                .sub{
                                    color: $white;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .full-wrapper{
            .slider-wrapper{
                .hero-slider{
                    .hero-item{
                        .hero-inner{
                            height: 580px;
                            video#heroVideo{
                                height: 580px;
                            }
                            .main-wrapper{
                                display: flex;
                                flex-direction: row;
                                align-items: flex-end;
                                .detail-item{
                                    .main{
                                        width: 78%;
                                    }
                                    .sub{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .full-wrapper{
            margin-top: get-vw(-249.2px);
            .slider-wrapper{
                .hero-slider{
                    .hero-item{
                        .hero-inner{
                            height: get-vw(1050px);
                            video#heroVideo{
                                height: get-vw(1050px)
                            }
                            .main-wrapper{
                                justify-content: space-between;
                                width: 100%;
                                bottom: get-vw(100px);
                                .detail-item{
                                    .main{
                                        width: get-vw(846px);
                                        margin-bottom: 0;
                                    }
                                }
                                .btn-hero{
                                    margin-bottom: get-vw(35px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-about{
    .inner-wrapper{
        padding-top: 27px;
        background: $black-bg;
        position: relative;
        padding-bottom: 60px;
        .top-section{
            margin-bottom: 288px;
            .left-div{
                position: relative;
                z-index: 1;
                .title-section{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 5px;
                    .sub{
                        color: $white;
                    }
                }
                .main{
                    color: $white;
                    width:85%;
                    span{
                        color: $primary-color;
                    }
                }
            }
            .btn-about{
                position: absolute;
                z-index: 1;
                top: 465px;
                right: 35px;
            }
        }
        .bottom-section{
            .image-wrap{
                position: absolute;
                width: 100%;
                left: 0;
                height: 357px;
                top: 165px;
                z-index: 0;
                img{
                    height: 357px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .detail-para{
                margin-bottom: 50px;
                .white-para{
                    color: $white-text;
                    text-align: left;
                    span{
                        color: $secondary-color;
                    }
                }
            }
            .white-section{
                .white-section-inner{
                    border-radius: 20px;
                    background: $white-bg-2;
                    padding: 35px 39px 40px 22px;
                    .white-title{
                        width: 90%;
                        margin-bottom: 30px;
                        span{
                            color: $primary-color;
                        }
                    }
                    .white-para{
                        text-align: left;
                        margin-bottom: 20px; 
                        span{
                            color: $secondary-color;
                        }
                    }
                    .white-listing{
                        .slide-wrapper{
                            .white-icon-slider{
                                display: flex;
                                column-count: 2;
                                flex-wrap: wrap;
                                gap: 25px;
                                .white-item{
                                    width: 45%;
                                    .white-inner{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        gap: 10px;
                                        img.white-icon{
                                            width: 48px;
                                            height: 48px;
                                            object-fit: contain; 
                                        }
                                        .white-icon-para{
                                            text-align: center;
                                            min-height: 45px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 422px){
        .inner-wrapper{
            .bottom-section{
                .white-section{
                    .white-section-inner{
                        .white-listing{
                            .slide-wrapper{
                                .white-icon-slider{
                                    .white-item{
                                        .white-inner{
                                            .white-icon-para{
                                                min-height: unset;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px){
        .inner-wrapper{
            .top-section{
                margin-bottom: 388px;
                .btn-about{
                    top: 200px;
                    left: 35px;
                    right: unset;
                }
            }
            .bottom-section{
                .image-wrap{
                    height: 388px;
                    img{
                        height: 388px;
                    }
                }
                .white-section{
                    .white-section-inner{
                        .white-listing{
                            .slide-wrapper{
                                .white-icon-slider{
                                    column-count: 4;
                                    .white-item{
                                        width: 22%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1200px){
        .inner-wrapper{
            padding-top: get-vw(100px);
            display: flex;
            flex-direction: column;
            height: get-vw(1037px);
            padding-bottom: 0;
            .top-section{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                align-items: flex-end;
                .left-div{
                    .title-section{
                        gap: get-vw(10px);
                    }
                }
                .btn-about{
                    right: unset;
                    position: relative;
                    top: unset;
                    left: unset;
                }
            }
            .bottom-section{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                .image-wrap{
                    width: get-vw(990px);
                    height: get-vw(757px);
                    top: unset;
                    bottom: 0;
                    img{
                        width: get-vw(990px);
                        height: get-vw(757px);
                    }
                }
                .detail-para{
                    width:get-vw( 927px);
                    position: absolute;
                    top: get-vw(500px);
                    right: get-vw(140px);
                    z-index: 3;
                }
                .white-section{
                    width: get-vw(927px);
                    z-index: 3;
                    bottom: get-vw(-272.8px);
                    position: absolute;
                    .white-section-inner{
                        border-radius: get-vw(20px);
                        padding: get-vw(70px) get-vw(90px) get-vw(61px);
                        .white-title{
                            margin-bottom: get-vw(47px);
                        }
                        .white-para{
                            margin-bottom: get-vw(40px);
                        }
                        .white-listing{
                            .slide-wrapper{
                                .white-icon-slider{
                                    gap: get-vw(50px);
                                    .white-item{
                                        width: 19%;
                                        .white-inner{
                                            gap: get-vw(20px);
                                            img.white-icon{
                                                width:get-vw( 85px);
                                                height: get-vw(85px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-partners{
    .full-wrapper{
        background: $black-bg;
        padding-bottom: 60px;
        .top-section{
            padding: 0 35px 10px;
            .main{
                color: $white;
                text-align: center;
                span{
                    color: $primary-color;
                }
            }
        }
        .bottom-section{
            .slider-wrapper{
                .brands-slider{
                    .brand-div{
                        .brand-inner{
                            margin: 10px;
                            border-radius: 4.112px;
                            border: 1.028px solid rgba(0, 0, 0, 0.20);
                            background: #29323E;
                            box-shadow: 0px 4.112px 65.785px 0px rgba(0, 0, 0, 0.10);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 10px 25px;
                            &:hover{
                                img.brand-img{
                                    filter: none;
                                }
                            }
                            img.brand-img{
                                width: 244.355px;
                                height: 100px;
                                object-fit: contain;
                                filter: grayscale(100%) brightness(1000%);
                                transition: filter 0.5s ease;
                                &:hover{
                                    filter: none;
                                }
                            }
                            .brand-para{
                                text-align: center;
                                color: $white;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .arrow-div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 25px;
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .full-wrapper{
            position: relative;
            padding-bottom: get-vw(140px);
            .top-section{
                padding: 0 get-vw(140px)get-vw(32.78px);
            }
            .bottom-section{
                .slider-wrapper{
                    margin: 0 get-vw(140px);
                    .brands-slider{
                        .brand-div{
                            .brand-inner{
                                margin: get-vw(10px);
                                border-radius: get-vw(4.112px);
                                border:get-vw( 1.028px) solid rgba(0, 0, 0, 0.20);
                                box-shadow:get-vw( 0px) get-vw(4.112px) get-vw(65.785px) get-vw( 0px) rgba(0, 0, 0, 0.10);
                                padding: get-vw(20px) get-vw(38.36px) get-vw(37.38px);
                                img.brand-img{
                                    width: get-vw(244.355px);
                                    height:get-vw( 100px);
                                }
                                .brand-para{
                                    margin-top:get-vw(10px);
                                }
                            }
                        }
                    }
                    .arrow-div{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: unset;
                        margin-top:unset;
                        .arrow-left-b{
                            position: absolute;
                            left: get-vw(55px);
                            top: get-vw(276.8px);
                            z-index: 4;
                        }
                        .arrow-right-b{
                            position: absolute;
                            right: get-vw(55px);
                            top: get-vw(276.8px);
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}

.home-map{
    .full-wrapper{
        background: $black-bg-2;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 339px;
            background: linear-gradient(0deg, #101525 0%, #101525 42.36%, rgba(16, 21, 37, 0) 100%);
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        .video-div{
            position: relative;
            z-index: 1;
            video#mapVideo{
                width: 100%;
                height: 480px;
                object-fit: cover;
            }
        }
        .details-section{
            position: relative;
            z-index: 2;
            .detail-inner{
                display: flex;
                flex-direction: column-reverse;
                margin-top: -60px;
                justify-content: space-between;
                align-items: flex-end;
                .main{
                    background: linear-gradient(101deg, #4061AD 8.54%, #FFF 73.98%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .para{
                    color: $white;
                    padding: 0 35px 40px;
                    text-align: center;
                    span{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .full-wrapper{
            .details-section{
                .detail-inner{
                    align-items: center;
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .full-wrapper{
            &::after{
                height: get-vw(339px);
            }
            .video-div{
                video#mapVideo{
                    height: get-vw(867px);
                }
            }
            .details-section{
                .detail-inner{
                    flex-direction: row;
                    margin-top: get-vw(-239px);
                    padding: 0 get-vw(140px) get-vw(73px);
                    .main{
                        width: get-vw(746px);
                    }
                    .para{
                        padding: 0;
                        text-align: left;
                        width: get-vw(456px);
                    }
                }
            }
        }
    }
}

.home-threat-bulletins{
    .main-wrapper{
        position: relative;
        background: $black-bg;
        padding-bottom: 50px;
        .image-container{
            position: absolute;
            left: 0;
            height: 375px;
            z-index: 0;
            width: 100%;
            .image-wrap{
                img.home-tb{
                    width: 100%;
                    height: 375px;
                    object-fit: cover;
                }
            }
        }
        .main-div{
            position: relative;
            z-index: 1;
            .top-section{
                position: relative;
                z-index: 1;
                padding: 60px 0 30px 0;
                .first-sec{
                    .main{
                        color: $white;
                        margin-bottom: 32px;
                        span{
                            color: $primary-color;
                        }
                    }
                }
            }
            .bottom-section{
                .slider-wrapper{
                    .bulletin-slider{
                        .bulletin-div{
                            .bulletin-inner{
                                .featured-image{
                                    height: 224.934px;
                                    width: 100%;
                                    object-fit: cover;
                                    img.wp-post-image{
                                        height: 224.934px !important;
                                        border-radius: 6.501px 6.501px 0px 0px;
                                        max-width: unset !important;
                                    }
                                }
                                .post-content{
                                    padding: 30px;
                                    border-radius: 0 0 6.501px 6.501px;
                                    border: 0.65px solid rgba(255, 255, 255, 0.40);
                                    background: #151F3D;
                                    .post-title{
                                        margin-bottom: 20px;
                                        a{
                                            text-decoration: none;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .arrow-num-bulletins{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 25px;
                    .num-pack-bulletins{
                        display: flex;
                        flex-direction: row;
                        font-family: $primary-font;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        background: linear-gradient(90deg, #4061AD 0.21%, #FFF 156.34%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                       span{
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 46px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .main-wrapper{
            padding-bottom: get-vw(140px);
            .image-container{
                height: get-vw(1003px);
                left: unset;
                right: 0;
                width: get-vw(1232px);
                .image-wrap{
                    height: get-vw(1003px);
                    width: get-vw(1232px);
                    position: relative;
                    &::before{
                        background: linear-gradient(90deg, #0A0C10 0.01%, rgba(10, 12, 16, 0.00) 43.63%);
                        content: "";
                        position: absolute;
                        top: 0;
                        left: get-vw(0px);
                        width: get-vw(1232px);
                        height: 100%;
                    }
                    img.home-tb{
                        height: get-vw(1003px);
                        width: get-vw(1232px);
                    }
                }
            }
            .main-div{
                .top-section{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;
                    .first-sec{
                        .main{
                            width: get-vw(804px);
                            margin-bottom: 0;
                        }
                    }
                }
                .bottom-section{ 
                    position: relative; 
                    .slider-wrapper{
                        width: get-vw(1015px);
                        .bulletin-slider{
                            .bulletin-div{
                                margin-right: get-vw(10px);
                                .bulletin-inner{
                                    .featured-image{
                                        height: get-vw(345px);
                                        img.wp-post-image{
                                            height: get-vw(345px) !important;
                                            border-radius: get-vw(10px) get-vw(10px) 0 0;
                                        }
                                    }
                                    .post-content{
                                        padding: get-vw(47px) get-vw(59px) get-vw(61px);
                                        border-radius: 0 0 get-vw(10px) get-vw(10px);
                                        border: get-vw(1px) solid rgba(255, 255, 255, 0.40);
                                        .post-title{
                                            margin-bottom: get-vw(69px);
                                        }
                                    }
                                }
                            }
                        }
                }
                .arrow-num-bulletins{
                    gap: get-vw(10px);
                    margin-top: 0;
                    position: absolute;
                    right: get-vw(500px);
                    top: get-vw(263px);
                    flex-direction: column;
                    .left-arrow-bulletins{
                        svg{
                            border: radius get-vw(7px);
                            border: get-vw(1px) solid $white;
                            width: get-vw(71px);
                            height: get-vw(67.698px);
                        }
                    }
                    .num-pack-bulletins{
                        font-size: get-vw(40px);
                       span{
                            font-size: get-vw(25px);
                            letter-spacing: get-vw(-1.5px);
                        }
                    }
                    .right-arrow-bulletins{
                        svg{
                            border: radius get-vw(7px);
                            border: get-vw(1px) solid $white;
                            width: get-vw(71px);
                            height: get-vw(67.698px);
                        }
                    }
                }
                }
            }
        }
    }
}

.home-services{
    .full-wrapper{
        background: $black-bg;
        padding-bottom: 60px;
        .top-section{
            padding: 0 20px;
            .title-section{
                margin-bottom: 20px;
                .main{
                    background: linear-gradient(101deg, #4061AD 8.54%, #FFF 73.98%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-top: -15px;
                    font-weight: 400;
                    span{
                        font-family: $primary-font;
                        font-size: 30px;
                        font-weight: 400;
                        letter-spacing: -1.8px;
                        line-height: 25px;
                    }
                }
            }
        }
        .bottom-section{
            .slider-wrapper{
                height: 329px;
                .services-slider{
                    .key-service-item{
                        margin: 0 20px;
                        .key-service-inner{
                            height: 329px;
                            position: relative;
                            img.key-service-image{
                                height: 329px;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                            .details-item{
                                height: 329px;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                align-items: center;
                                padding: 37px 34px;
                                border-radius: 10px;
                                border: 1px solid rgba(255, 255, 255, 0.30);
                                background: linear-gradient(0deg, #2A4FA3 -8.27%, rgba(0, 23, 78, 0.80) 28.45%, rgba(0, 23, 78, 0.60) 59.51%, rgba(0, 0, 0, 0.00) 100%);
                                .title{
                                    color: $white;
                                    margin-bottom: 48px;
                                    text-align: center;
                                    font-family: $primary-font;
                                    font-size: 40px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 35px;
                                    letter-spacing: -2px;
                                    span{
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .full-wrapper{
            .top-section{
                padding: 0 40px;
            }
            .bottom-section{
                .slider-wrapper{
                    height: unset;
                    display: block;
                    column-count: 2;
                    margin: 0 40px 0;
                    .services-slider{
                        .key-service-item{
                            margin: 0 0 20px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width:1200px){
        .full-wrapper{
            padding-bottom: get-vw(140px);
            .top-section{
                padding: 0 get-vw(140px);
                .title-section{
                    margin-bottom: get-vw(60px);
                    .main{
                        margin-top:get-vw( -34.2px);
                        span{
                            font-size: get-vw(70px);
                            letter-spacing: get-vw(-4.2px);
                            line-height:normal;
                        }
                    }
                }
            }
            .bottom-section{
                .slider-wrapper{
                    margin: 0 get-vw(140px) 0;
                    column-count: unset;
                    .services-slider{
                        display: flex;
                        flex-wrap: wrap;
                        gap: get-vw(10px);
                        column-count: 2;
                        .key-service-item{
                            margin: 0;
                            width: 49%;
                            &:nth-child(3){
                                width: 24.2%;
                                .key-service-inner{
                                    height: get-vw(562px);
                                    img.key-service-image{
                                        height: get-vw(562px);
                                    }
                                    .details-item{
                                        height: get-vw(562px);
                                        .title{
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            &:nth-child(4){
                                width: 24.2%;
                                .key-service-inner{
                                    height: get-vw(562px);
                                    img.key-service-image{
                                        height: get-vw(562px);
                                    }
                                    .details-item{
                                        height: get-vw(562px);
                                        .title{
                                            text-align: center;
                                        }
                                    }
                                }
                            }  
                            &:nth-child(5){
                                width: 24.2%;
                                .key-service-inner{
                                    height: get-vw(562px);
                                    img.key-service-image{
                                        height: get-vw(562px);
                                    }
                                    .details-item{
                                        height: get-vw(562px);
                                        .title{
                                            text-align: center;
                                        }
                                    }
                                }
                            }  
                            &:nth-child(6){
                                width: 24.2%;
                                .key-service-inner{
                                    height: get-vw(562px);
                                    img.key-service-image{
                                        height: get-vw(562px);
                                    }
                                    .details-item{
                                        height: get-vw(562px);
                                        .title{
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .key-service-inner{
                                height:  get-vw(410px);
                                img.key-service-image{
                                    height: get-vw(410px);
                                    width: get-vw(816px);
                                    border-radius: get-vw(10px);
                                }
                                .details-item{
                                    height:get-vw(410px);
                                    width: 100%;
                                    padding: get-vw(60px);
                                    border: radius get-vw(10px);
                                    align-items: flex-start;
                                    border: get-vw(1px) solid rgba(255, 255, 255, 0.30);
                                    .title{
                                        margin-bottom:get-vw(76px);
                                        text-align: left;
                                        font-size: get-vw(60px);
                                        line-height:get-vw( 50px);
                                        letter-spacing: get-vw(-3px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-other-services{
    .full-wrapper{
        background: $black-bg;
        padding-bottom: 60px;
        .top-section{
            padding: 0 20px 30px;
            .left-div{
                margin-bottom: 20px;
                .title-section{
                    display: flex;
                    flex-direction: column-reverse;
                    .sub{
                        background: linear-gradient(101deg, #4061AD 8.54%, #FFF 73.98%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                   
                }
                .main{
                    background: linear-gradient(101deg, #4061AD 8.54%, #FFF 73.98%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 400;
                }
            }
        }
        .bottom-section{
            .slider-wrapper{
                .other-services-slider{
                    .other-service-item{
                        margin: 0 20px;
                        .other-service-inner{
                            border-radius: 6px;
                            border: 1px solid rgba(255, 255, 255, 0.30);
                            background: #151F3D;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 30px 25px;
                            &:hover{
                                background: linear-gradient(0deg, rgba(0, 185, 152, 0.90) -3.74%, rgba(0, 124, 194, 0.50) 44.09%, rgba(42, 42, 42, 0.30) 93.88%, rgba(0, 0, 0, 0.00) 134.15%), #151F3D;
                            }
                            img.other-service-image{
                                height:120px;
                                width:170px;
                                object-fit: cover;
                            }
                            .details-item{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .title{
                                    color: $white;
                                    margin-bottom: 30px;
                                    text-align: center;
                                    font-family: $primary-font;
                                    font-size: 50px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 45px;
                                    letter-spacing: -2.5px;
                                    margin-bottom: 20px;
                                    min-height: 137.8px;
                                    span{
                                        font-family: $primary-font;
                                        font-size: 30px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 35px;
                                        letter-spacing: -1.5px;
                                    }
                                }
                                .content{
                                    margin-bottom: 20px;
                                    text-align: center;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .arrow-div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 25px;
                }
            }
        }
    }
    @media only screen and (min-width: 768px){
        .full-wrapper{
            .top-section{
                padding: 0 40px 40px;
            }
        }
    }
    @media only screen and (min-width:1200px){
        .full-wrapper{
            padding-bottom: get-vw(140px);
            position: relative;
            .top-section{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 get-vw(140px);
                margin-bottom: get-vw(35px);
                .left-div{
                    margin-bottom: get-vw(0px);
                    .title-section{
                        flex-direction: row;
                        gap: get-vw(15px);
                        align-items: center;
                        .sub{
                            margin-bottom: get-vw(20px);
                        }
                    }
                    .main{
                        margin-top: get-vw(-20px);
                    }
                }
               
            }
            .bottom-section{
                .slider-wrapper{
                    .other-services-slider{
                        .other-service-item{
                            margin: get-vw(5px);
                            .other-service-inner{
                                padding: get-vw(89px) get-vw(70px) get-vw(60px);
                                border-radius:get-vw( 6px);
                                border:get-vw( 1px) solid rgba(255, 255, 255, 0.30);
                                img.other-service-image{
                                    height: get-vw(197px);
                                    width: get-vw(410px);
                                    object-fit: contain;
                                    margin-bottom:get-vw(38px);
                                }
                                .details-item{
                                    .title{
                                        margin-bottom:get-vw(38px);
                                        font-size: get-vw(50px);
                                        line-height: get-vw(45px);
                                        letter-spacing: get-vw(-2.5px);
                                        min-height: get-vw(141.664px);
                                        span{
                                            font-size: get-vw(30px);
                                            line-height: get-vw(45px); /* 150% */
                                            letter-spacing: get-vw(-1.5px);
                                        }
                                    }
                                    .content{
                                        margin-bottom: get-vw(49px);
                                    }
                                }
                            }
                        }
                    }
                    .arrow-div{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: unset;
                        margin-top:unset;
                        .arrow-left-o{
                            position: absolute;
                            left: get-vw(16.6px);
                            top: get-vw(468.8px);
                            z-index: 4;
                        }
                        .arrow-right-o{
                            position: absolute;
                            right: get-vw(16.6px);
                            top: get-vw(468.8px);
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}

.home-industries{
    .main-wrapper{
        background: $black-bg;
        padding-bottom: 60px;
        padding-top: 60px;
        position: relative;
        background: linear-gradient(270deg, #0A0C10 -24.66%, #151F3D 135.99%);
        .industry-list{
            .title-section{
                margin-bottom: 20px;
                .main{
                    background: linear-gradient(101deg, #4061AD 8.54%, #FFF 73.98%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-top: -15px;
                    span{
                        font-family: $primary-font;
                        font-size: 30px;
                        font-weight: 400;
                        letter-spacing: -1.8px;
                        line-height: 25px;
                    }
                }
            }
            .tab-content{
                .tab-pane{
                    display: none;
                    &.show{
                        &.active{
                            display: block;
                        }
                    }
                    .slider-wrapper{
                        .industry-slider{
                            .insustry-item{
                                .industry-inner{
                                    img.industry-image{
                                        width: 100%;
                                        height: 390.733px;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom-section{
                .bottom-inner{
                    .tab-sec{
                        ul#inTabs{
                            margin: 0;
                            display: block;
                            list-style: none;
                            li.nav-item{
                                position: relative;
                                margin-bottom: 5px;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                &::before{
                                    content: "";
                                    position: absolute;
                                    width: 6px;
                                    height: 6px;
                                    bottom: 11.2px;
                                    left: -14px;
                                    background: $white;
                                    border-radius: 100px;
                                }
                                button.nav-link{
                                    color: $white;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height:  30px;
                                    letter-spacing: -0.9px;
                                    text-decoration: none;
                                    background: transparent;
                                    border: 0;
                                    &.active{
                                        color: $secondary-color;
                                        &::before{
                                            content: "";
                                            position: absolute;
                                            width: 6px;
                                            height: 6px;
                                            bottom: 11.2px;
                                            left: -14px;
                                            background:$secondary-color;
                                            border-radius: 100px;
                                        }
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: 1px;
                                            bottom: 0;
                                            left: 0;
                                            background: $secondary-color;
                                        }
                                    }
                                    &:hover{
                                        color: $secondary-color;
                                    }
                                }
                               
                                &:hover{
                                    button.nav-link{
                                        color: $secondary-color;
                                    }
                                    &::before{
                                       background: $secondary-color;
                                    }
                                    &::after{
                                        background: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1200px){
        .main-wrapper{
            padding-bottom: 0;
            padding-top: 0;
            .industry-list{
                display: flex;
                flex-direction: row;
                height: get-vw(946px);
                .title-section{
                    margin-bottom: get-vw(60px);
                    .main{
                        margin-top:get-vw( -34.2px);
                        width: get-vw(841px);
                        span{
                            font-size: get-vw(70px);
                            letter-spacing: get-vw(-4.2px);
                            line-height:normal;
                        }
                    }
                }
                .tab-content{
                    .tab-pane{
                        .slider-wrapper{
                            &::before{
                                background: linear-gradient(270deg, #101525 0%, #101525 42.36%, rgba(16, 21, 37, 0.00) 100%);
                                content: "";
                                position: absolute;
                                top: 0;
                                left: get-vw(545.4px);
                                width:get-vw( 506px);
                                height: 100%;
                            }
                            &::after{
                                background: linear-gradient(90deg, #101525 0%, #101525 42.36%, rgba(16, 21, 37, 0.00) 100%);
                                content: "";
                                position: absolute;
                                top: 0;
                                left: get-vw(-140px);
                                width:get-vw( 736.4px);
                                height: 100%;
                            }
                            .industry-slider{
                                .insustry-item{
                                    .industry-inner{
                                        img.industry-image{
                                            width:get-vw( 891px);
                                            height: get-vw(946px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom-section{
                    position: absolute;
                    right: get-vw(178px);
                    width: get-vw(841px);
                    height: get-vw(948px);
                    padding:get-vw( 90px) 0;
                    .bottom-inner{
                        .tab-sec{
                            ul#inTabs{
                                li.nav-item{
                                    margin-bottom: get-vw(15px);
                                    &:hover{
                                        &::after{
                                            background: $secondary-color;
                                            content: "";
                                            width: get-vw(522px);
                                            height: get-vw(1px);
                                        }
                                    }
                                    &::after{
                                        width: get-vw(522px);
                                        height: get-vw(1px);
                                        content: unset;
                                    }
                                    &::before{
                                        width: get-vw(10px);
                                        height: get-vw(10px);
                                        bottom: get-vw(11.2px);
                                        left: get-vw(-23px);
                                        border-radius: get-vw(100px);
                                    }
                                    button.nav-link{
                                        font-size: get-vw(30px);
                                        line-height: get-vw(30px);
                                        letter-spacing: get-vw(-1.5px);
                                        &.active{
                                            color: $secondary-color;
                                            &::before{
                                                width: get-vw(10px);
                                                height: get-vw(10px);
                                                bottom: get-vw(11.2px);
                                                left: get-vw(-23px);
                                                border-radius: get-vw(100px);
                                            }
                                            &::after{
                                                height: get-vw(1px);
                                                width: get-vw(522px);
                                            }
                                        }
                                    }
                                   
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}