*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn a {
  color: #770000;
  text-decoration: none;
  font-weight: 500;
}
.btn.underline {
  position: relative;
}
.btn.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #770000;
}

.slick-slider .slick-arrow.slick-next {
  right: 0;
  z-index: 999;
}
.slick-slider .slick-arrow.slick-prev {
  left: 0;
  z-index: 999;
}

footer {
  padding: 20px 20px;
  background-color: #ddd;
}
footer .footer-inner .footer-socail-media .footer-social-media-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
footer .footer-inner .footer-socail-media .footer-social-media-list li {
  margin-right: 20px;
}
footer .footer-inner .footer-socail-media .footer-social-media-list li .footer-social-media-link svg {
  width: 20px;
  height: 20px;
}
footer .footer-inner .footer-menu .menu {
  list-style: none;
  padding-left: 0;
}

.bottom-footer {
  padding: 5px 20px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  footer .footer-inner {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-inner .footer-main {
    width: 33.33%;
  }
  footer .footer-inner .footer-menu {
    width: 33.33%;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 3.125vw 12.5vw;
  }
  footer .footer-inner .footer-socail-media .footer-social-media-list li {
    margin-right: 1.0416666667vw;
  }
  footer .footer-inner .footer-socail-media .footer-social-media-list li .footer-social-media-link svg {
    width: 1.0416666667vw;
    height: 1.0416666667vw;
  }
  footer .footer-inner .footer-main .footer-des {
    font-size: 0.8333333333vw;
  }
  .bottom-footer {
    padding: 0.78125vw 12.5vw;
    text-align: center;
  }
}
.main-banner.inner-banner .main-slider-wrapper .slider-item {
  position: relative;
}
.main-banner.inner-banner .main-slider-wrapper .slider-item .slider-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding: 20px;
  text-align: center;
}
.main-banner.inner-banner .main-slider-wrapper .slider-item .slider-content .banner-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.main-banner.inner-banner .breadcrumb-wrapper {
  padding: 0 20px;
}
.main-banner.inner-banner .breadcrumb-wrapper .bredcrumbswrap .bredcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
}
.main-banner.inner-banner .breadcrumb-wrapper .bredcrumbswrap .bredcrumbs li a {
  text-decoration: none;
}
.main-banner.inner-banner .breadcrumb-wrapper .bredcrumbswrap .bredcrumbs li + li {
  padding-left: 15px;
  position: relative;
}
.main-banner.inner-banner .breadcrumb-wrapper .bredcrumbswrap .bredcrumbs li + li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.navigation {
  padding: 20px;
}

@media only screen and (min-width: 1200px) {
  .main-banner.inner-banner .main-slider-wrapper .slider-item {
    position: relative;
  }
  .main-banner.inner-banner .main-slider-wrapper .slider-item .slider-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 12.5vw;
    text-align: center;
  }
  .main-banner.inner-banner .main-slider-wrapper .slider-item .slider-content .banner-title {
    font-family: "Roboto", sans-serif;
    font-size: 3.125vw;
  }
  .navigation {
    padding: 1.0416666667vw 12.5vw;
  }
}/*# sourceMappingURL=style.css.map */