// Fonts
@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-ExtraLight.woff') format('woff');
    font-weight: 200; /* ExtraLight */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Light.woff') format('woff');
    font-weight: 300; /* Light */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
}

@font-face {
    font-family: 'Forma DJR Micro';
    src: url('FormaDJRMicro-Black.woff') format('woff');
    font-weight: 900; /* Black */
}

$primary-font:"Forma DJR Micro", sans-serif;
$secondary-font:"Poppins", sans-serif;

// Colors
$color-1:#770000;
$color-2:#2a2a2a;
$white:#ffffff;
$black:#000000;
$primary-color:#3752A3;
$secondary-color:#F69517;
$blue-bg:#20408A;
$white-bg:#F7F9FF;
$b-text:#0E0D35;
$black-bg:#010C1A;
$black-text:#1D1D1D;
$white-text:#D2D2D2;
$white-bg-2:#F4F4F4;
$black-bg-2:#0A0C10;
$black-bg-3:#151F3D;
$green:#29A71A;
*,
*::before,
*::after {
    box-sizing: border-box;
}

 
