 .cmp-multiple-img-content{
    .section-inner{
        padding: 0 20px;
        margin-bottom: 60px;
        .img-item{
            margin-bottom: 20px;
        }
    }
    
 }

 @media only screen and (min-width: 992px){
    .cmp-multiple-img-content{
        .section-inner{
            padding: 0 5px;
            margin-bottom: 60px;
            .mul-img{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                .img-item{
                    width: 50%;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                    }
                }
            }
            .multi-content{
                padding: 0 15px;
            }
        }
     }
}

@media only screen and (min-width: 1200px){
    .cmp-multiple-img-content{
        .section-inner{
            padding: 0 get-vw(225px);
            margin-bottom: get-vw(100px);
            .mul-img{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                .img-item{
                    width: 50%;
                    margin-bottom: get-vw(30px);
                    padding: 0 get-vw(15px);
                    img{
                        width: 100%;
                    }
                }
            }
            .multi-content{
                padding: 0 get-vw(15px);
            }
        }
     }
}

